doctype html
html
    head
        title Go CD Dashboard
        link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/socket.io/socket.io.js')
        script(src='/bower_components/angular/angular.js')
        script(src='/javascripts/app.js')
        script(src='/javascripts/directives/dashboard.js')
    body(ng-app="app")
        block content