html, body, p {
    margin:0;
    padding:0;
}

.dashboard-container {
    display:flex;
    flex-direction: column;
    background: #123C4A;
    font-size: large;
    color: white;
    min-height: 100vh;
}

.pipeline {
    display: flex;
    flex: 1 auto;
}

.pipeline-name, .stage {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 0;
    min-height: 0;
}

.pipeline-name {
    flex: 0 auto;
    min-width: 175px;
}

.stage {
    flex: 1 auto;
    border-radius: 10px;
    border: 2px solid #123C4A;
}

.stage-success {
    background: #29a329;
}

.stage-failed {
    background: #C70A0E;
}