html, body, p {
  margin:0;
  padding:0;
}

.dashboard {
  display:flex;
  flex-direction: column;
  background: #123C4A;
  font-size: x-large;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: white;
  min-height: 100vh;
}

.pipeline-group {
  display: flex;
  flex: 1 auto;
}

.pipeline-group-name, .pipeline {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pipeline-group-name {
  flex: 0 auto;
  min-width: 175px;
  max-width: 175px;
}

.pipeline {
  flex: 1;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #123C4A;
}

.pipeline-container {
  display: flex;
  flex: 1 auto;
}

.pipeline-success {
  background: #0a840a;
}

.pipeline-failed {
  background: #9c0f12;
}

.pipeline-unknown {
  background: #D9B32A;
}

.pipeline-nohistory {
  background: #a7a2a7;
}
