<div class="dashboard-container">
    <div class="pipeline" ng-repeat="(groupName, group) in pipelineGroups">
        <div class="pipeline-name">
            {{groupName}}
        </div>
        <div class="stage"
             ng-style="{order: pipeline.order}"
             ng-class="{'stage-success': pipeline.status === 'Passed', 'stage-failed': pipeline.status !== 'Passed'}"
             ng-repeat="(pipelineName, pipeline) in group">
            <p class="pipeline-text">{{stripPipelineName(groupName, pipelineName)}} {{pipeline['build-number']}}</p>
        </div>
    </div>
</div>